.bottom{ style: "width: 100%; padding: 50px 0 0 0px; display: block;" }
  %strong Sponsor:
  %br
  = image_tag attachments["funding-circle.jpg"].url, width: '180px', style: "display: inline-block; padding-right: 10px"
