.row
  .col-md-8
    %h1 Sponsor's info
    %p
      Running our workshops requires certain things to be arranged, as well as incurring a number of extra costs.
      We rely on the generosity of our sponsors to provide us a venue and catering, or otherwise to cover the cost of making the experience memorable for our attendees.
      Without sponsorship, we would be unable to make as big an impact in the community, or even run our workshops and meetings at all.
      Sponsorships or contributions at any level are welcomed. We have several
      %b sponsorship packs
      that can
      = link_to "be viewed here.", "https://s3-us-west-2.amazonaws.com/railsgirlslondon/Rails+Girls+London+sponsorship.pdf", target: "_blank"

  .col-md-4
    %br
      = mail_to "railsgirlslondon@gmail.com", "Become a sponsor!", class: "btn btn-primary btn-lg pull-right btn-hero"


.row
  .col-md-12
    %h3
      Hosting Rails Girls
    %p
      Another way to sponsor Rails Girls London is to provide the venue and catering for a future event.
      %br
        We currently run large Workshops for 200-220 people.

      %br
        %b Lets talk:
        = mail_to "rgl-organisers@googlegroups.com", "rgl-organisers@googlegroups.com"
