.row
  .col-md-8
    %h1 Sponsor's info
    %p
      Running our workshops and weekly meetings requires certain things to be arranged, as well as incurring a number of extra costs.
      We rely on the generosity of our sponsors to provide us a venue and catering, or otherwise to cover the cost of making the experience memorable for our attendees.
      Without sponsorship, we would be unable to make as big an impact in the community, or even run our workshops and meetings at all. Sponsorships or contributions at any level are welcomed.

  .col-md-4
    %br
      = mail_to "railsgirlslondon@gmail.com", "Become a sponsor!", class: "btn btn-primary btn-lg pull-right btn-hero"

.row
  .col-md-4
    %h3.text-center
      Silver
      %br
      £500
    %ul
      %li Feature your logo on our website
      %li Do social media shout outs - thank you
      %li Distribute any swag you'd like our participants and coaches to take home
  .col-md-4
    %h3.text-center
      Golden
      %br
      £700
    %ul
      %li Feature your logo on our website
      %li Do social media shout outs - thank you
      %li Distribute any swag you'd like our participants and coaches to take home
      %li Give you 5 minutes talk time at the event
      %li Add your logo to all event emails
  .col-md-4
    %h3.text-center
      Platinum
      %br
      £1000
    %ul
      %li Feature your logo on our website
      %li Do social media shout outs - thank you
      %li Distribute any swag you'd like our participants and coaches to take home
      %li Give you 5 minutes talk time at the event
      %li Add your logo to all event emails
      %li Print out your logo on tote bags


.row
  .col-md-12
    %h3
      Hosting Rails Girls
    %p
      Another way to sponsor Rails Girls London is to provide the venue and catering for a future event. We currently run large Workshops, and small Weekly meetings, and the requirements for each differ.
      If you're interested in doing this, please get in touch at railsgirlslondon@gmail.com, and we'll be happy to arrange something.
