.row
  .col-md-8
    %h1 Sponsor's info
    %p
      Running our workshops requires certain things to be arranged, as well as incurring a number of extra costs.
      We rely on the generosity of our sponsors to provide us with a venue, catering and refreshments, while also covering the costs of making the whole experience memorable for our attendees. Without this, we would be unable to continue to make such a big impact in the community. Sponsorships and contributions at any level are most welcome. We have several
      %b sponsorship packs
      that can be viewed
      = link_to "here.", "https://s3-us-west-2.amazonaws.com/railsgirlslondon/Rails+Girls+London+sponsorship.pdf", target: "_blank"


  .col-md-4
    %br
      = mail_to "railsgirlslondon@gmail.com", "Become a sponsor", class: "btn btn-primary btn-lg pull-right btn-hero"


.row
  .col-md-12
    %h3
      Hosting Rails Girls
    %p
      Another way to sponsor Rails Girls London is to provide the venue and catering for a future event.
      %br
        We currently run workshops for for 200-220 people.

      %br
        %b Lets talk:
        = mail_to "rgl-organisers@googlegroups.com", "rgl-organisers@googlegroups.com"
