%section.separator#sponsors
  .container
    %h1.block-title
      Sponsor's info

%section.separator.next_event
  .container
    %h3
      Helping us with the workshop financially
    %p
      We rely on the generosity of our sponsors to provide us with a venue, catering and refreshments, while also covering the costs of making the whole experience memorable for our attendees. Without this, we would be unable to continue to make such a big impact in the community. Sponsorships and contributions at any level are most welcome. We have several
      = link_to "https://s3-us-west-2.amazonaws.com/railsgirlslondon/rails_girls_london_sponsorship.pdf", target: "_blank" do
        %b sponsorship packs that can be viewed here.

    %br
      = mail_to "railsgirlslondon@gmail.com", "Become a sponsor", class: "btn btn-primary"

    %h3
      Hosting Rails Girls
    %p
      Another way to sponsor Rails Girls London is to provide the venue and catering for a future event.
      %br
      We currently run workshops for for 250-300 people.

      %br
        %b Lets talk:
        = mail_to "rgl-organisers@googlegroups.com", "rgl-organisers@googlegroups.com"
