%legend Meetings

- if @meetings.any?
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        - @meetings.each do |meeting|
          %li
            =link_to city_meeting_path(@city, meeting) do
              %strong= meeting.name
              %small= I18n.l(meeting.date)

= render partial: "shared/all_sponsors", locals: { sponsors: @sponsors, show_title: false }
