%p#notice= notice

.row
  .span7
    .page-header
      %h2
        = @meeting.name
        %small= I18n.l(@meeting.date)
    %p.lead
      = @meeting.description

    %em
      This meeting is invite only. If you would like to receive an invitation,
      =mail_to @city.email, "let us know why."

    %br
    %br
