%legend Active events
- if @active_events
  %ul.nav
    - @active_events.each do |event|
      %li
        %strong=link_to "#{event.city.name}, #{event.title}", admin_event_path(event)
        %br
        =event.description
