- unless @active_events.empty?
  %legend Upcoming events
  .row
    %ul.nav.nav-tabs.nav-stacked.span4
      - @active_events.each do |event|
        %li
          =link_to  admin_event_path(event) do
            =event.city_name
            %small=event.dates

- unless @meetings.empty?
  %legend Upcoming meetings
  .row
    %ul.nav.nav-tabs.nav-stacked.span4
      - @meetings.each do |meeting|
        %li
          =link_to admin_city_meeting_path(meeting.city, meeting) do
            =meeting.name
            %small= I18n.l(meeting.date)
