%legend Active events
- if @active_events
  %ul.nav
    - @active_events.each do |event|
      %li
        %strong=link_to "#{event.dates}, #{event.city_name}", admin_event_path(event)
        %br
        =event.description
