.application-received.main-content
  .container.separator
    %h1.header-blurb
      Thank you for applying for the Rails Girls London Workshop on the
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@registration.first_name},

      - if @event.registrations_open?
        = render "open_registrations"
      - else
        = render "waiting_list"
