%h3{style: "border-bottom: 1px solid #E5E5E5; padding-bottom: 10px; margin-bottom: 15px; font-size: 28.5px;" }
  Hi
  #{@registration.first_name},

.content
  .left.inline{ style: "width: 65%; min-width: 260px; display: inline-block;" }
    %p.lead{ style: "font-size: '22px;" }
      %strong Thank you
      for applying to our Rails Girls #{@city.name} workshop!
      .title{ style: "border-left: 4px solid #E5E5E5; font-size: 26.5px; margin: 15px 0; padding: 0 10px;" }= @event.dates

      =link_to "View details", full_url_for(city_event_path(@city, @event)), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "

    %p.lead
      We’re delighted to be able to invite you to join us for our next
      workshop. We hope that the workshop will offer a great first experience
      building web applications.

      In order to secure your place at this event, we ask you to please confirm
      your attendance by replying to this message in the next two days. We
      require this so we can re-allocate the place of anyone who applied, but
      who is not able to attend for whatever reason.

      %h3 What happens next?

      We start off on the Friday with our Installation Party at 6pm. Please
      bring your laptop with you! You should also try to pre-install Rails with
      instructions from:

      http://guides.railsgirls.com/install

      On the Saturday, we’ll dive into development. Our day will start at 9am
      and we’ll work in small groups of two to three people. We will wrap up
      the group work at around 6pm so we can enjoy the After Party. There will
      be breaks and short talks throughout the day.

      All the best,

      The Rails Girls organisers
  .right.inline{ style: "width: 24%; padding: 0 0 0 50px; display: inline-block;" }
    =image_tag attachments['london-girl.png'].url, width: '200px'
    %div{ style: 'min-width: 200px' }
      %highlight{ style: "color: #E0330c" }You learn
      designing, prototyping and coding with the help of our coaches.
