%h3{style: "border-bottom: 1px solid #E5E5E5; padding-bottom: 10px; margin-bottom: 15px; font-size: 28.5px;" }
  Hi
  #{@registration.first_name},

.content
  .left.inline{ style: "width: 65%; display: inline-block;" }
    %p.lead{ style: "font-size: '22px;" }
      %strong Thank you
      for applying to our Rails Girls #{@city.name} workshop!
      .title{ style: "border-left: 4px solid #E5E5E5; font-size: 26.5px; margin: 15px 0; padding: 0 10px;" }= @event.dates

      =link_to "View details", full_url_for(city_event_path(@city, @event)), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "

    %p.lead
      We’re delighted to invite you to join us in our next workshop! We hope that this workshop will provide you a great first experience on building web apps.

      In order to secure your place at this event, we ask you to please confirm your atttendance. This is just to confirm that you are still available and you will definitely join us.

      What happens next?

      At 18:00 on the 19th of April we will start with an installation fest - so please bring your laptop with you! You should also try to pre-install Rails with instructions from http://guides.railsgirls.com/install.

      On the 20th of April we’ll dive into development. We'll be starting at 09:00 and we’ll work in small groups with two to three person teams. Your team members will have about the same experience level as you. We’ll be all developing a simple listing application. We’ll wrap the day around 16:30.

      There’s also going to be an evening after party from 20:00 on Saturday after the event at William IV (7 Shepherdess Walk London, N1 7QE). This will be an open party, and other people interested in Rails Girls will be joining us there.

      We hope to see you soon.

      All the best,

      The Rails Girls organisers
  .right.inline{ style: "width: 24%; padding: 0 0 0 50px; display: inline-block;" }
    =image_tag attachments['london-girl.png'].url, width: '200px'
    %div
      %highlight{ style: "color: #E0330c" }You learn
      designing, prototyping and coding with the help of our coaches.
