%legend
  %h3 Feedback

- @feedbacks.each do |feedback|
  %table.table
    %thead
      %tr
        %td Name
        %td Event
        %td Rating
        %td
    %tr
      %td= feedback.invitee.name
      %td= feedback.invitable.to_s.html_safe
      %td
        - (1..feedback.rating).each do |i|
          %span.icon-star

        - (feedback.rating...5).each do |i|
          %span.icon-star-empty
      %td=link_to "View feedback", admin_city_feedback_path(@city, feedback)
