%hr
%h3
  Feedback
  %small=link_to @feedback.invitable.to_s.html_safe, [@feedback.invitable.city, @feedback.invitable ]
  .pull-right
    - if @feedback.permission.eql? true
      .label.label-sucess Permission to use
    -else
      .label.label-important No permission
%h4
  =link_to @feedback.invitee.name, admin_event_registration_path(@feedback.invitable, @feedback.invitee)
  .pull-right
    = image_tag gravatar_url(@feedback.invitee.email, 90), class: 'img-circle'

.row
  .span4
    %ul.unstyled
      - if @feedback.application_description.present? and @feedback.application_url.present?
        %li
          %strong Application
          =link_to @feedback.application_description, @feedback.application_url
      - if @feedback.feelings_before.present?
        %li
          %strong Feelings before
          %p=@feedback.feelings_before
      - if @feedback.feelings_after.present?
        %li
          %strong Feelings after
          %p=@feedback.feelings_after
      - if @feedback.comments.present?
        %li
          %strong Comments
          %p=@feedback.comments


%br
.row
  .span3
    - (1..@feedback.rating).each do |i|
      %span.icon-star

    - (@feedback.rating...5).each do |i|
      %span.icon-star-empty
