- if sponsors.any?
  %section
    %legend
      - if show_title
        Hosts and Sponsors

    %ul.unstyled.inline
      - sponsors.each do |sponsor|
        %li.sponsor
          =link_to sponsor.website do
            - if sponsor.company_logo.present?
              =image_tag sponsor.company_logo
            - else
              =image_tag sponsor.image_url
