.well
  %span
    / %small Did you attend our workshop on the #{event.dates}?
  / %br
  %strong
    Give us your
    =link_to "feedback", new_event_feedback_path(event)
    so we can make things even better!
