%section.separator#sponsors--anchor
  .container
    %h1.block-title
      Our Sponsors

%section.separator
  .container.supporters__block
    - sponsors.each do |sponsor|
      .supporters__block--item
        = link_to sponsor.website, target: :_blank, class: "" do
          - if sponsor.company_logo.present?
            =image_tag sponsor.company_logo
          - else
            =image_tag sponsor.image_url
