%section
  .splash.event-page
    .container
    
%section.separator.title
  .container
    .row
      .col-md-12
        %h1
          Rails Girls London - Code of Conduct

%section.separator
  .container
    .row
      .col-md-8
        %p
          The following Code of Conduct is based on the example policy published by the Geek Feminism wiki, created by the Ada Initiative and other volunteers.

        %h3 Our policy in short
        %p
          Rails Girls London is dedicated to providing a harassment-free experience for everyone attending our workshops, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of workshop participants in any form. Any participants violating these rules may be sanctioned or expelled from the workshop at the discretion of the workshop organizers.

        %h3 Our full policy
        %p
          Rails Girls London is dedicated to providing a harassment-free experience for everyone attending our workshops, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of workshop participants in any form. Any participants violating these rules may be sanctioned or expelled from the workshop at the discretion of the workshop organizers.
        %p
          Harassment includes verbal comments that reinforce social structures of domination (related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion, or socio-economic background); sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
        %p
          Participants include: attendees, coaches, sponsors, organisers, and everyone else involved in or helping with running the event as well as guests and visitors to the event.
        %p
          Presenters and sponsors of the workshop are also subject to the anti-harassment policy. In particular, presenters and sponsors should not use sexualized images or content in any presentations or promotional materials.
        %p
          If a participant engages in harassing behavior, the workshop organizers may take any action they deem appropriate, including warning the offender or expulsion from the workshop.
        %p
          If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact one of the organizers immediately. At the event, participants will be informed which team members in particular to contact in the case of an incident, and how to contact them directly.
        %p
          We expect participants to follow these rules at all workshop venues and workshop-related social events and chat channels.

        %h3 Slack Community Guidelines

        %p
          We're excited to welcome everyone we can to our Slack community. Here are some general guidelines for you so that we can maintain that welcoming feeling for everyone.
        %ul
          %li
            Our Code of Conduct applies to our Slack team the same as it does our in person events.
          %li
            Text based conversations don't have the same intricacies of verbal communication. Assume best intent from the person on the other side of the conversation and take care to word things well and be understanding.
          %li
            Job posts are not welcome in any chat room, unless you have prior approval from RailsGirls London organisers.
          %li
            Unsolicited private messages to chat room members to promote job openings are unwelcome: any reported offenders will be removed from the Slack group.
          %li
            The use of "@here" and "@channel" has been disabled for non-admin users.
          %li
            To contact an organiser, please email us on
            %a{ href: "mailto:" + info_email } info@railsgirls.london
            or DM @mariakhait on slack.
