%section#home_events
  .lead Upcoming Events

  %ul.cities
    - @events.each do |event|
      %li
        %h3
          = link_to event.title, event_path(event)
        .citybox
          %blockquote
            %p.lead
              =event.dates
          - if event.accepting_registrations?
            - if event.registrations_open?
              .details
                .applications
                  Applications are open.
                .mini
                  .links
                    = link_to "View details and apply", event_path(event)
            - else
              .details
                .applications
                  Applications are now closed.
