.row
  .col-md-12
    %h1 Next event
.row
  .col-md-5
    .thumbnail
      = image_tag "london-girl.png"

  .col-md-7
    %h5 Some info
    %p
      We are planning to have the next event in about half a year time.
    %a{ href: "#"}
