%aside
  %h3 Useful info
  %li You need to bring in your own computer both days. You will also need to have the admin rights to it so we can install Ruby & Rails on Friday.
  %li You will need to bring in an ID to confirm you are over 18. If you are under 18 you must be accompanied by an adult. (Please let us know if this is the case, as we will need to put their name on the list as well)
  %li You dont need to have any previous programming exprience.
  %li Rails Girls London is run by volunteers. We aim to run it every half a year, but sometimes it takes a bit longer between the workshops, so we never know in advance when the next event is going to take place. We are trying extremly hard to make sure they happen often though :)
  %li 
    We post a lot of useful info on our slack channel, please join 
    %a{ href: 'http://slack.railsgirls.london'} Rails Girls London Slack.
    We will also be communicating a lot through slack during the event, so make sure you are on it.

  %li One of Rails Girls London’s main goals is to run workshops where women in London and the rest of the UK have the opportunity to learn Ruby on Rails. The workshops are the result of the effort of many volunteers, who care about getting women involved in programming. This is one area where women have shown much aptitude, but represent only a small portion of working programmers.
  %li
    If you have any questions about the application process, please
    =mail_to "railsgirlslondon@gmail.com", "contact the Rails Girls London organisers"
    or
    =link_to "use our mailing list.", "http://bit.ly/rglondon"
  .social-media
    = render 'events/sidebar'
