%aside
  %h3 Important info
  %li You need to bring in your own computer both days. You will also need to have the admin rights to it so we can install Ruby & Rails on Friday.
  %li You will need to bring in an ID to confirm you are over 18. If you are under 18 you must be accompanied by an adult. (Please let us know if this is the case, as we will need to put their name on the list as well)
  %li You don't need to have any previous programming experience.
  %li
    We post a lot of useful info on our slack channel, please join
    %a{ href: slack_invite_url} Rails Girls London Slack.
    We will also be communicating a lot through slack during the event, so make sure you are on it.

  %li
    If you have any questions about the application process, please
    =mail_to info_email, "contact the Rails Girls London organisers"
    or ask us on
    %a{ href: slack_invite_url} slack.
  .social-media
    = render 'events/sidebar'
