.content.event-timetable
  %h3
    Workshop
  .friday.content
    %h3 Friday
    %p
      %b 18:30 - 21:00
      %br
      %b Installation Party
      %br
      Bring your laptop so we can install Ruby on Rails for you. Get to know your fellow students and coaches, share pizza and drinks.
  .saturday.content
    %h3 Saturday
    %p
      %b 9:00 - 10:00
      %br
      %b Registration & Coffee
    %p
      %b 10:00 - 10:30
      %br
      %b Welcome
      %br
      We'll let you know the schedule for the day.
      Plus, a word from our sponsors.
    %p
      %b 10:30 - 12:00
      %br
      %b Introduction to Ruby.
      %br
      Practise coding with
      %a{ href: "http://tryruby.org/" } tryruby.org
      %br
      Kickstart your first web application on Rails with
      %a{ href: "http://guides.railsgirls.com/app" }  guides.railsgirls.com/app
    %p
      %b 12:30 - 12:45
      %br
      %b Lightning Talks
      %br
      Presented by our coaches.
    %p
      %b 12:45 - 14:00
      %br
      %b Lunch
    %p
      %b 14:00 - 18:00
      %br
      %b Extend your application.
    %p
      %b 18:00 - late
      %br
      %b Afterparty
      %br
      Mingling with all the participants.
