.timetable--day.flex--item
  %h3 Friday - Installation Party
  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          18:30 - 21:30
        Installing Ruby on Rails & Dinner
    .timetable--item__description
      %p
        The goal of this evening is to install Ruby on Rails for you, and get you fully prepared for the next day workshop.
        %br
        We call friday evening a party because its going to be fun, there will be loads of networking, getting to know your fellow students and coaches, sharing pizza and drinks, and of course a DJ, you ll regret it if you miss it!
        %br
        Bring your laptop!
      %p
        %span.notice
          Please note: We kindly ask you to be present both days.

.timetable--day.flex--item
  %h3 Saturday - Workshop
  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          9:00 - 10:00
        Registration & Coffee
    .timetable--item__description
      %p
        Saturday is the hands on workshop day.
        %br
        We kick off in the morning by having a breakfast and loads of coffee (you will need it, its gona be a lot of brain work on this day 😃) 
        %br
        Light breakfast - (we cater for all dietary restrictions, just make sure to tell us what you dont eat in the application form)


  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          10:00 - 11:00
        Welcome & Sponsor presentations
    .timetable--item__description
      %p
        We'll let you know the schedule for the day.
        %br
        Our sponsors will introduce themselves and do brief presentations for the attendants.
        %br
        We will then split everyone into pairs and assign you a coach to proceed with the workshop.

  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          11:00 - 12:30
        Introduction to Ruby on Rails.
    .timetable--item__description
      %p
        Practise coding with
        %a{ href: "http://tryruby.org/" } tryruby.org
        Kickstart your first web application on Rails with
        %a{ href: "http://guides.railsgirls.com/app" }  guides.railsgirls.com/app

  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          12:30 - 13:00
        Lightning Talks
    .timetable--item__description
      %p
        Our coaches, will do a set of presentations on their experiences and knowledge in the sorftware engineering world. We make sure this is a great mix of people with various knowledge and expertise in development, so you will hear a range short and exciting talks from juniors to seniors.

  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          13:00 - 14:30
        Lunch
    .timetable--item__description
      %p
        We cater for all needs, please dont forget to mention you dietary restrictions in the application form.

  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          14:30 - 18:00
        Extend your website
    .timetable--item__description
      %p
        Continue working on your application with your coach.
        We set aside this time to really get your head around how to code and make your app what you want.
        Takes a lot of concentration, but its super fun, and we provide sugar and coffee to help you power through that (obviously 😃 )


  .timetable--item
    .timetable--item__timeslot
      %h4
        %span
          18:00 - late 
        Afterparty
    .timetable--item__description
      %p
        Mingling with all the participants.
        We go for drinks a some local pub to celebrate the successful learning day :)

