%legend
  %h3 Editing sponsor

= render 'form'

- if @sponsorships.any?
  =render partial: "admin/shared/sponsorships", locals: { sponsorships: @sponsorships }

- if @non_sponsored.any?
  =render partial: "admin/shared/non_sponsorships", locals: { non_sponsored: @non_sponsored }

- if @non_sponsored_meetups.any?
  =render partial: "admin/shared/non_sponsorships", locals: { non_sponsored: @non_sponsored_meetups }


= link_to 'Show', [:admin, @sponsor]
\|
= link_to 'Back', admin_sponsors_path
