%h2 Cities

%table.table
  %tr
    %th Name
    %th Email
    %th twitter

  - @cities.each do |city|
    %tr
      %td= city.name
      %td= city.email
      %td= city.twitter

= link_to "Add city", new_admin_city_path
