%h2.mailer--separator
  A couple of words from our sponsors:

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Smart
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Smart"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hello again
        %p
          I just wanted to say a massive THANK YOU for being part of the Rails Girls London shindig! Your vibe, energy, and all-around awesomeness made it an absolute blast, and we couldn’t be happier that you were there soaking it all in with us in our Smart London HQ office.
        %p
          Rails Girls London is like a tech playground where we’re all about giving superpowers to awesome people (like you!) to conquer the coding world and build cool stuff. Your spirit totally added some extra sparkle to the mix! I hope you had a blast during the workshops and left with a toolbox full of new skills, inspirations and connections.
        %p
          Psst... if you haven’t already, let’s stay buddies! Jump on the LinkedIn train and follow our
          %a{href: "https://www.linkedin.com/company/smart-pension/"} company page
          for the inside scoop. Oh, and feel free to drop me a virtual high-five by connecting with me directly on my
          %a{href: "https://www.linkedin.com/in/karina-kajelova/"} LinkedIn profile
          and maybe I can even follow your exciting journeys.
        %p
          A special shoutout to our incredible volunteers and coaches—those folks are the real MVPs! Their dedication and support made the event shine, and there won’t be such an event without them
        %p
          Thanks a million to you all for being rockstars at Rails Girls London.
          %br
          Cheers,
          %br
          Karina @Smart


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cleo
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Cleo"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Wow, what an event!

        %p
          Thank you to the organisers, coaches and attendees for making it such a fun couple of days - we hope you enjoyed it as much as we did!

        %p
          You’ve taken a great step by venturing into the world of Ruby on Rails, and we hope that this weekend has spurred you on to learn more.

        %p
          At Cleo we’re always on the lookout for talented engineers who can join us on our mission to help millions of people live beyond their next paycheck.

        %p
          You can find out more about us here:
          %a{href: "https://web.meetcleo.com/careers"} careers page,
          %a{href: "https://www.linkedin.com/company/cleo-ai/"} linkedin,
          %a{href: "https://twitter.com/workatcleo"} twitter.


