%h2.mailer--separator
  A couple of words from our sponsors:

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Smart
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Smart"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hello again, Sam from Smart here.
        %p
          I hope you enjoyed Rails Girls London as much as we did. It’s such a special event and it was a pleasure to share it with you.
        %p
          We spend a huge amount of time investing in people and fostering a positive culture, it’s a joy to watch people to develop their careers at Smart which I hope you witnessed during your time here.
        %p
          To students: You are in a special time in your career, you made a bold decision to try out coding and I am fortunate enough to have seen people take that opportunity and really thrive. So I hope you enjoy the next chapter in your career ahead.
        %p
          If you want to dig a bit deeper about working at Smart then check out

          %a{href: "https://www.smart.co/careers"} smart.co/careers
          or you can follow the story (often in photo form) on my
          %a{href: "https://www.linkedin.com/in/sambarton"} LinkedIn: linkedin.com/in/sambarton.


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cookpad
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Cookpad"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Once again, it was a privilege to be able to support Rails Girls London again this year, and to meet so many inspiring and motivated people keen to learn about software development.
        %p
          If you enjoyed the workshop as much as we did, and are interested to learn more about Cookpad, our mission and values, please visit
          %a{href: "https://careers.cookpad.com"} careers.cookpad.com
        %p
          We'd also love to welcome you to visit us in our Bristol office and kitchen if you happen to be in the area, so please do get in touch!

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Generation Home
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Generation Home"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hello! Sophia here from Generation Home.
        %p
          It was a pleasure to attend and sponsor this year's Rails Girls London event! We want to thank our fellow sponsors, coaches and, most importantly, all attendees that made this event a huge success.
        %p
          Keep up to date on how we're putting more people into homes by following our
          %a{href: "https://www.generationhome.com/"} website,
          %a{href: "https://www.linkedin.com/company/generationhome/"} LinkedIn
          and
          %a{href: "https://www.instagram.com/generation_home/"} Instagram.

        %p
          Sophia / GenH


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cleo
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Cleo"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Wow, what an event!

        %p
          Thank you to the organisers, coaches and attendees for making it such a fun couple of days - we hope you enjoyed it as much as we did!

        %p
          You’ve taken a great step by venturing into the world of Ruby on Rails!

        %p
          At Cleo we’re always on the lookout for talented engineers who can join us on our mission to fight for the world’s financial health!

        %p
          Find out more about what we get up to at Cleo:
          %a{href: "https://web.meetcleo.com/careers"} careers page,
          %a{href: "https://www.linkedin.com/company/cleo-ai/life/77c1f8e2-29f1-4603-b7e6-d1a10ff9a86d"} linkedin life,
          %a{href: "https://twitter.com/workatcleo"} twitter.


