%h2.mailer--separator
  A couple of words from our sponsors:

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Smart
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Smart"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hello, I'm Sam, CTO here at Smart and I am looking forward to welcoming you when you arrive at our offices on Friday. We hosted Rails Girls London last year and based on that I can promise you it will be an amazing experience, the team are incredibly experienced and you will have lots of fun. Plus, this is an extra special Rails Girls London it's their tenth anniversary - just think how many women they have helped get into tech in that time! I'm sure you will hear all about it from Maria who runs Rails Girls London, but also works here at Smart.

        %p
          This is an awesome event, one we are incredibly proud to be part of and I am genuinely looking forward to meeting you soon!
        %br
        Want a sneak peek at what the event will be like? Here are 
        %a{href: "https://www.linkedin.com/posts/sambarton_railsgirlsldn-rubyonrails-activity-6997830585876373504-GSpK"} some snaps I took of last years event.

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cleo
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Cleo"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          We are SUPER excited to be sponsoring Rails Girls London again this year. We can’t wait to see how you all get on over the weekend!

        %p
          At Cleo, we’re on a mission to help millions of people live beyond their next paycheck.

        %p
          Cleo is an AI assistant that helps people make better money decisions and habits. She provides users with budgeting, savings and spendings insights that they can’t get anywhere else. Backed by some of the most well-known investors in tech, we’ve reached over 7 million users and we're looking to grow that number.
        %p
          To serve more users, we need more great people. We love to meet adaptable, creative and product-focussed engineers. If this sounds like you, check out our open roles:
          %a{href: "https://web.meetcleo.com/careers"} web.meetcleo.com/careers.


