%h2.mailer--separator
  A couple of words from our sponsors:

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Smart
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Smart"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hi There, my name is Sam, I’m CTO here at Smart and I am very excited to be welcoming you when you arrive at our offices on Friday. You’ll find that we are a fun and collaborative bunch of people in our awesome new HQ which is a perfect place to learn how to code. We’ve made a name for ourselves by disrupting the financial industry, this is down to having good quality code and ways of working, but also a great engineering culture which I know you will enjoy witnessing when you visit us. You will also hear from some wonderful women who work in our engineering team and they will tell you how they grew their careers in technology. Oh and fun fact, Maria who runs Rails Girls London also works here at Smart so get ready to meet some truly great and inspirational women.
        %p
          What do we do? Our mission is to transform retirement, savings and financial well-being, across all generations, around the world. We have millions of customers and look after billions of their money in various currencies in the UK, Ireland, Dubai, USA and even Hong Kong.

        %p
        📣 Check out this year's hackathon:
        %a{href: "https://www.linkedin.com/posts/sambarton_quick-photo-dump-from-todays-hackathon-activity-6933093294205775872-LWGu"} photos
        and
        %a{href: "https://www.linkedin.com/posts/sambarton_smart-snap-19-smart-hackathon-2022-activity-6955885672024920064-IXOL"} video
        %br
        Like what you see? Why not come and join us:
        %a{href: "https://www.smart.co/careers"} smart.co/careers

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cookpad
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Cookpad"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Cookpad's mission is simply to "make everyday cooking fun", and with 100 million home cooks using our services globally every month - all via our Rails platform - this is a mission we know has true meaning and value to real people the world over.

        %p
          Cookpad supports many events, meetups and conferences and we're thrilled to be able to help Rails Girls London again this year with this great event introducing more people to the wonderful world of Ruby on Rails.

        %p
          If you really enjoy the workshop, want to learn more, and have an interest in helping the world to enjoy everyday cooking, talk to one of our team as we are here to help you build on what you learned today, and potentially take the first steps into a career in software development.

        %p
          To read more about life at Cookpad, visit
          %a{href: "https://careers.cookpad.com"} careers.cookpad.com
          or talk to one of the team at the event.


%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Generation Home
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Generation Home"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          Hi! It’s
          %a{href: "https://www.linkedin.com/in/sophia-guy-white-84254a27/"} Sophia
          \- co-founder at
          %a{href: "https://www.generationhome.com/"} Generation Home
          , and I’ll be joining you at Rails Girls as sponsor and fellow student!

        %p
          🏠 We're a mortgage lender transforming how people buy homes in the UK.
          %br
          🚀 Founded in 2020, we're a humble, customer-focused team that's put 1000+ into homes.
          %br
          We're bringing coaches from our
          %a{href: "https://genhome.notion.site/genhome/Gen-H-Handbook-for-Candidates-686e73d3c9a645f88d2e89723556b362?p=5d15ef69766b46519b0e0ce8dbbe6c5e&pm=c"} product engineering team
          to help create a more
          %a{href: "https://genhome.notion.site/genhome/Gen-H-Handbook-for-Candidates-686e73d3c9a645f88d2e89723556b362?p=7d666644590b4d4c916d0a1eb4d30846&pm=c"} diverse
          generation of coders.

        %p
          Want to learn more about the company or mortgages? Come say hi, check out our
          %a{href: "https://boards.eu.greenhouse.io/generationhome"} careers
          page, or follow us on
          %a{href: "https://www.linkedin.com/company/generationhome"} LinkedIn
          and
          %a{href: "https://www.instagram.com/generation_home/"} Instagram.

        %p
          See you there!
          %br
          Sophia / Gen H

%table.mailer--separator
  %thead
    %tr
  %tbody
    %tr
      %td
        %b
          Cleo
      %td{align: 'right'}
        = image_tag email_sponsor_logo(@event, "Cleo"), class: 'sponsor-logo--item'
    %tr
      %td{colspan: "2", align: 'left', valign: 'middle'}
        %p
          We are SUPER excited to be sponsoring Rails Girls London and we can’t wait to see how you all get on!

        %p
          At Cleo, we’re on a mission to help millions of people improve their financial health. Cleo helps people make better money decisions and habits by providing budgeting, savings and spendings insights that you can’t get anywhere else.

        %p
          Backed by some of the most well-known investors in tech, we’ve reached over 4 million users and plan to double that number each year!

        %p
          We love to meet adaptable, creative and product-focussed engineers! If this sounds like you, check out our open roles:
          %a{href: "https://web.meetcleo.com/careers"} web.meetcleo.com/careers


