%legend
  %h3
    Invitation
.row
  .span4
    %h4
      =link_to [:admin, @city, @invitation.invitable] do
        %strong=invitable_name(@invitation)
        %small=invitable_date(@invitation)
.row
  .span7
    %p.lead= @invitation.invitable.description

.row
  .span3
    %dd
      %dt to
      %dl=@invitation.invitee.name
  .span3
    %dd
      %dt emailed at
      %dl #{I18n.l(@invitation.created_at, format: :short)}

%strong
  - invitation_attendance_label(@invitation)

- if @invitation.comment.present?
  %br
  %strong Reason
  =@invitation.comment
