%legend
  %h3
    Invitation

    .pull-right
      - invitation_attendance_label(@invitation)
.row
  .span4
    %h4
      =link_to [:admin, @invitation.invitable] do
        %strong=invitable_name(@invitation)
        %small=invitable_date(@invitation)
.row
  .span7
    %p.lead
      = @invitation.invitable.description

.row
  .span3
    %dd
      %dt to
      %dl
        = mail_to @invitation.invitee.email, @invitation.invitee.name
  .span3
    %dd
      %dt emailed at
      %dl #{I18n.l(@invitation.created_at, format: :short)}

- if @invitation.comment.present?
  %br
  %strong Reason
  =@invitation.comment
