%legend
  %h3
    Invitation
    %small
      - if @invitation.attending.nil?
        N/A
      - else
        -invitation_attendance_label(@invitation)
.row
  .span4
    %h4
      =link_to [:admin, @city, @invitation.invitable] do
        %strong=@invitation.invitable.name
        %small=I18n.l(@invitation.invitable.date)
.row
  .span7
    %p.lead= @invitation.invitable.description

.row
  .span3
    %dd
      %dt to
      %dl=@invitation.member.name
  .span3
    %dd
      %dt emailed at
      %dl #{I18n.l(@invitation.created_at, format: :short)}
