---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/cards
    body:
      encoding: US-ASCII
      string: name=Seven%20of%20Nine&desc=You%20will%20be%20assimilated.&idList=51bb5a02c536e0043d00513d
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1371232771137'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"51bb5a0338bcb86d260036aa","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"desc":"You
        will be assimilated.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51bb5a02c536e0043d00513d","idMembers":[],"idShort":37,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Seven
        of Nine","pos":16384,"url":"https://trello.com/card/seven-of-nine/51b75f57482917a9580086ff/37"}'
  recorded_at: Fri, 14 Jun 2013 18:02:22 GMT
[...]
- request:
    method: put
    uri: https://api.trello.com/1/cards/51bb5a0338bcb86d260036aa/idList
    body:
      encoding: US-ASCII
      string: value=51bb5a04f83f01940e0032d3
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1371232945", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1371232774088'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"51bb5a0338bcb86d260036aa","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"desc":"You
        will be assimilated.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51bb5a04f83f01940e0032d3","idMembers":[],"idShort":37,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Seven
        of Nine","pos":16384,"url":"https://trello.com/card/seven-of-nine/51b75f57482917a9580086ff/37"}'
  recorded_at: Fri, 14 Jun 2013 18:02:25 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/51bb5a02c536e0043d00513d/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1371232945", oauth_token="",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1371232774751'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"51bb5a03656d15770e005a2f","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-06-14T17:59:31.829Z","desc":"
        Let us see Humanity.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51bb5a02c536e0043d00513d","idMembers":[],"idMembersVoted":[],"idShort":38,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"The
        Borgue Queen","pos":32768,"shortUrl":"https://trello.com/c/qtcisQGu","subscribed":false,"url":"https://trello.com/card/the-borgue-queen/51b75f57482917a9580086ff/38"}]'
  recorded_at: Fri, 14 Jun 2013 18:02:26 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/51bb5a04f83f01940e0032d3/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1371232946", oauth_token="",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1371232775333'
      Content-Type:
      - application/json
      Etag:
      - '"-555863311"'
    body:
      encoding: UTF-8
      string: '[{"id":"51bb5a0338bcb86d260036aa","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-06-14T17:59:34.055Z","desc":"You
        will be assimilated.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51bb5a04f83f01940e0[...]
