---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/lists
    body:
      encoding: US-ASCII
      string: name=Some%20list&closed=false&idBoard=51b75f57482917a9580086ff
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1370976434730'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"51b770b20186f9c71200b650","name":"Some list","closed":false,"idBoard":"51b75f57482917a9580086ff","pos":1024}'
  recorded_at: Tue, 11 Jun 2013 18:49:55 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/51b75f57482917a9580086ff/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1370976436455'
      Content-Type:
      - application/json
      Etag:
      - '"1776917166"'
    body:
      encoding: UTF-8
      string: '[{"id":"51b770b35ff5beec04002191","name":"Some other list","closed":false,"idBoard":"51b75f57482917a9580086ff","pos":1024,"subscribed":false},{"id":"51b770b20186f9c71200b650","name":"Some
        list","closed":false,"idBoard":"51b75f57482917a9580086ff","pos":3072,"subscribed":false},{"id":"51b76ebe259be3bb15002c68","name":"The
        Human","closed":false,"idBoard":"51b75f57482917a9580086ff","pos":6144,"subscribed":false},{"id":"51b76ebdb4b7073052008582","name":"The
        Borgue","closed":false,"idBoard":"51b75f57482917a9580086ff","pos":10240,"subscribed":false},{"id":"51b76eba230710416b000a93","name":"Some
        other li[...]
