---
http_interactions:
- request:
    method: post
    uri: https://api.trello.com/1/lists
    body:
      encoding: US-ASCII
      string: name=The%20Borgue&closed=false&idBoard=51b75f57482917a9580086ff
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1370977452421'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"51b774ac3318449e58009160","name":"The Borgue","closed":false,"idBoard":"51b75f57482917a9580086ff","pos":1024}'
  recorded_at: Tue, 11 Jun 2013 19:06:53 GMT
[...]
- request:
    method: post
    uri: https://api.trello.com/1/cards
    body:
      encoding: US-ASCII
      string: name=Seven%20of%20Nine&desc=You%20will%20be%20assimilated.&idList=51b774ac3318449e58009160
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1370977453824'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"51b774adfce689f51200b5c4","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"desc":"You
        will be assimilated.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51b774ac3318449e58009160","idMembers":[],"idShort":19,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Seven
        of Nine","pos":16384,"url":"https://trello.com/card/seven-of-nine/51b75f57482917a9580086ff/19"}'
  recorded_at: Tue, 11 Jun 2013 19:06:54 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/51b774ac3318449e58009160/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1370977455713'
      Content-Type:
      - application/json
      Etag:
      - '"-1982424064"'
    body:
      encoding: UTF-8
      string: '[{"id":"51b774adfce689f51200b5c4","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-06-11T19:04:13.801Z","desc":"You
        will be assimilated.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51b774ac3318449e58009160","idMembers":[],"idMembersVoted":[],"idShort":19,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Seven
        of Nine","pos":16384,"shortUrl":"https://trello.com/c/6O2l9HJS","subscribed":false,"url":"https://trello.com/card/seven-of-nine/51b75f57482917a9580086ff/19"},{"id":"51b774ae59679d454900e864","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-06-11T19:04:14.488Z","desc":"
        Let us see Humanity.","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51b774ac3318449e58009160","idMembers":[],"idMembersVoted":[],"idShort":20,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"The
        Borgue Queen","pos":32768,"shortUrl":"https://trello.com/c/VwZLhNaZ","subscribed":false,"url":"https://trello.com/card/the-borgue-queen/51b75f57482917a9580086ff/20"}]'
  recorded_at: Tue, 11 Jun 2013 19:06:56 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/51b774ad3d277f5437006c14/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="",
        oauth_signature="", oauth_signature_method="",
        oauth_timestamp="", oauth_token="",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Time:
      - '1370977456312'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"51b774afea6ba2b259003036","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":true,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-06-11T19:04:15.134Z","desc":"Tea,
        Earl Gray, hot!","due":null,"idBoard":"51b75f57482917a9580086ff","idChecklists":[],"idList":"51b774ad3d277f5437006c14","idMembers":[],"idMembersVoted":[],"idShort":21,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Picard","pos":16384,"shortUrl":"https://trello.com/c/Cd7hDvl2","subscribed":false,"url":"https://trello.com/card/picard/51b75f57482917a9580086ff/21"}]'
  recorded_at: Tue, 11 Jun 2013 19:06:57 GMT
recorded_with: VCR 2.5.0
