.conrifmed-place--block.main-content
  .container.separator
    %h1.header-blurb
      We will see you at the workshop :) 
      = @event.dates
  .container.separator
    .content
      %h3
        Hi
        #{@registration.first_name},

      %h2
        Your attendance for the Rails Girls London workshop is now confirmed.
      %p
        =link_to "View details", event_url(@event), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "

      %p
        Please remember to bring with you
        %b your laptop, ID (to prove you are over 18, Attendees under 18 must be accompanied by an adult) and a printed or a digital copy of this confirmation to verify your place.

        %strong See you at the workshop!

      .signature
        %p Rails Girls London team :)
        = render 'shared/mailers/social_media'


.container.separator
  = render 'shared/mailers/sponsors'
