%h3{style: "border-bottom: 1px solid #E5E5E5; color: #434950; font-size: 26px; font-weight: 400; line-height: 30px; padding-bottom: 10px; margin-bottom: 15px;" }
  Hi
  #{@registration.first_name},

.content
  .left.inline{ style: "width: 100%; min-width: 260px; display: inline-block;" }
    %p.lead{ style: "font-size: 18px; color: #333333; padding-bottom: 10px; line-height: 22px;"}
      You are now confirmed for the Rails Girls London workshop.

    .title{ style: "border-left: 4px solid #E5E5E5; font-size: 26.5px; margin: 0px 0 11px 0; padding: 0 10px;" }= @event.dates
    =link_to "View details", full_url_for(city_event_path(@city, @event)), style: "color: #E0330C; text-decoration: none; border-bottom: 1px dotted #E0330C; "

    %div{style: "background-color: #F7F7F7; border-radius: 5px; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.5) inset, -1px -1px 2px rgba(250, 250, 250, 0.1) inset; font-size: 18px; padding: 12px 19px; text-align: center; margin: 31px 0 25px; border: 1px solid #dddddd;"}

    %p.lead{ style: "font-size: 16px; color: #4E5563; padding-bottom: 10px; line-height: 22px;"}
      Please remember to bring with you a printed or a digital copy of this confirmation to verify your place.

  .right.inline{ style: "width: 100%; min-width: 180px; margin-top: 25px; display: inline-block;" }
    =image_tag attachments['london-girl.png'].url, width: '180px'
    %div{style: "margin: 15px 0; "}
      %highlight{ style: "color: #333333; text-align: center; font-weight: 500; font-size: 13px" }You learn designing, prototyping and coding with the help of our coaches.
    %p.lead{ style: "font-size: 15px; color: #4E5563; margin-top: 25px;" }
      %strong See you at the workshop!
