%section#past_events
  %legend Past Events

  - events.each do |event|
    .row
      .span3
        .event-box
          =link_to city_event_path(@city, event) do
            .picture
              = image_tag "london-girl.png"
          .title
            = event.dates

      .span3
        %h5
          Sponsored by
        %br
        .span2
          %ul.sponsors.unstyled
            - event.sponsors.each do |sponsor|
              %li
                = link_to sponsor.website do
                  = image_tag sponsor.image_url, title: sponsor.description
              %br

    %br
    .row
      .span3
        .links
          =link_to "View details", city_event_path(@city, event)
    %br
