%h2.highlight Sponsor prospectus

.row
  .span7
    %p.lead
      Our workshop is a two-day free event targeted at women, designed to give them a great first experience in programming. We aim to impart inspiration to get started, tools to understand technology, and an open, supportive community. Rails Girls is not just about programming, it’s about building things. During the workshop, attendees will build their first Ruby on Rails application with help and guidance from their coach. We will also have inspiring lightning talks and exercises.
  .span3= image_tag 'london-girl.png'

%hr
%section
  .row
    .span3
      %h4.title.highlight Contact
      Send us an
      =mail_to @city.email, "email"
      !

    .span3
      %h4.title.highlight Coaches
      15 awesome developers that love teaching and volunteered their time.

    .span3
      %h4.title.highlight Attendees
      35 excited women, with an interest in programming and making things.

%section.sponsorships
  %legend Sponsoring
  .row
    .span3
      .title £250
      %ul.unstyled
        %li
          5 minutes for a representative to speak to everyone.
        %li
          Your logo on our website.

    .span3
      .title £500
      %ul.unstyled
        %li
          5 minutes for a representative to speak to everyone.
        %li
          Your logo on our website.

    .span3
      .title £1000
      %ul.unstyled
        %li
          10 minutes for a representative to speak to everyone.
        %li
          Your logo on our website with a short description.
        %li
          Your logo on a banner during the event.

          5 minutes for a representative to speak to everyone.

  .row
    .span10
      %small
        *These are only suggested sponsorships. If you would like to offer something else,
        =mail_to @city.email, "contact us"
        so we can talk about it.

%section.costs
  %legend Our costs

  .row
    .span3
      %h4.title.highlight Install party drinks

      We kick off the event by installing rails and getting to know each other.

    .span3
      %h4.title.highlight Coffee & Breakfast

      Everyone has a long, action packed day ahead of them so it's important to start if off right with a nutritious breakfast.

    .span3
      %h4.title.highlight Lunch

      A healthy lunch will recharge everyone and keep them going through the afternoon. Brain food will be much appreciated by this point.

    .span3
      %h4.title.highlight Printed Materials

      Posters help get the word out to coaches and applicants. Printed learning materials assist some of our exercises.

    .span3
      %h4.title.highlight Afterparty Refreshments

      After a long day of accomplishing new feats, a party is definitely in order. Coaches and attendees can socialise.

    .span3
      %h4.title.highlight Bags & Stickers

      It's great to have something to remind the attendees to keep their programming interest alive. Everyone loves swag!
