@import 'partials/colors'

#subscribe
  h2
    font-weight: normal
    color: $blue-gray
    text-align: center

  .controls
    border: 2px solid $warm-pink
    border-radius: 1px
    margin: 0
    padding: 0

  input#subscription_email
    width: 98%
    text-align: center
    height: 45px
    font-size: 30px
    margin: 0
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset, -1px -1px 2px rgba(200, 219, 230, 0.4) inset

  .info
    font-size: 17px
    text-align: center
    color: $dark-blue-gray
    letter-spacing: 0.03em

#marginup
  margin-top: 20px
  .social-media
    text-align: center
    margin: 74px 0 20px 0

#sponsor
  background-color: $red-type
  border-radius: 5px
  font-size: 17px
  font-weight: 400
  padding: 5px 19px
  box-shadow: 1px 1px 0 rgba(197, 51, 11, 0.8) inset
  a
    color: #ffffff
    text-decoration: none

.sponsorbutton
  margin-top: 15px