@import 'partials/colors'

.underline
  border-bottom: 1px solid #999
  font-weight: normal
  margin-bottom: 15px
  padding-bottom: 10px

.dates
  margin: 15px 0
  border-left: 4px solid $darker-gray-tone
  padding: 10px
  font-size: 26.5px

.title
  font-family: "Interstate"
  font-weight: normal
  color: $body-color

.details
  padding-left: 5px

  .description
    color: $body-color
    padding-bottom: 10px

  .applications
    margin-top: 15px
    font-weight: bold

.help
  font-size: 35px
  color: $darker-gray-tone
  padding-left: 10px

#past_events
  .thumbnail
    padding: 0

    .picture
      overflow: hidden
      max-height: 180px

    img
      margin: -20px 0px 0  0

  p
    border-top: 4px solid $red-tone
    color: $body-color
    padding: 5px 0 5px 10px
    margin: 0

.highlight
  color: $red-tone

ul.coaches li
  height: 150px

li.sponsor a {
  border-bottom: 0;
}
