%footer
  .container
    .row
      .span2.offset2
        =image_tag "london-girl.png"
      .span6
        .copyright
          2013, Rails Girls London.
          %a{ :href => "mailto: london@railsgirls.co.uk" } Contact us
          or follow us on
          %a{ :href => "http://www.twitter.com/#{city_twitter}" } Twitter
          and
          %a{ :href => "http://www.facebook.com/railsgirls#{city_slug}" } Facebook
          .slogan Get excited and make things!
