#whiteboxlogo
  .mainTitle
    .imageLogo
      = image_tag("railsgirls-london.png")
    = link_to "Rails Girls #{city_name}", root_path, :class => 'brand'
  .pull-right
    %a.rails-girls{ href: "http://railsgirls.com", title: "Rails Girls" }
      =image_tag "railsgirls-heart.png"
