#logo
  =link_to root_path do
    = image_tag "railsgirls-london.png", class: 'brand'
    Rails Girls #{@city.name rescue ""}

.pull-right
  .rails-girls-heart
    %a.rails-girls{ href: "http://railsgirls.com", title: "Rails Girls" }
      =image_tag "railsgirls-heart.png"
