.col-md-12.social-media
  .col-md-4
    .text-center
      =link_to "", "http://twitter.com/#{city_twitter}", class: "btn btn-media icon twitter"
  .col-md-4
    .text-center
      =link_to "", "http://www.facebook.com/#{city_facebook}", class: "btn btn-media icon facebook"
  .col-md-4
    .text-center
      =link_to "", "https://plus.google.com/b/104252944343767158344", class: "btn btn-media icon google-plus"
