.social-media.text-center
  =link_to "http://twitter.com/#{city_twitter}", class: "btn btn-media" do
    =image_tag "twitter.png"

  -#- @city.social_media.each do |social_medium|
    -#=link_to social_medium.url, class: "btn btn-media" do
      -#=image_tag "#{social_medium.name}.png"
