%a.twitter-timeline{ :href => "https://twitter.com/railsgirls_ldn", "data-widget-id" => "323562261912363008"}Tweets by @railsgirls_ldn

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


