!!!
%html
  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }

  %body{ style: "font-family: Helvetica Neue,Helvetica,Arial,sans-serif" }
    %header{ style: "height: 100px; background-color:#E0330C " }
      %nav{ style: "width: 65%; margin: 0 auto" }
        #logo.inline{ style: "display: inline-block;" }
        %div.inline{ style: 'color: #FFF; display: inline-block;' }
          %h2{ style: 'margin-left: 20px;' } Rails Girls London
          %br

        .pull-right{ style: 'float: right' }
          .rails-girls-heart{ style: 'margin-top: 30px;' }
            %a.rails-girls{ href: "http://railsgirls.com", title: "Rails Girls" }
              = image_tag attachments['railsgirls-heart.png'].url

    #main{style: "width: 65%; min-width: 280px;  border: 1px solid #E5E5E5; padding: 40px; margin: 50px auto; background-color: #FFFFFF" }
      = yield
