!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag 'application_mailer.css'

  %body.main
    .main-navigation
      .container
        =link_to root_url do
          = image_tag "rails_girls_london_logo.png", alt: "Rails Girls London"
    = yield
