!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    =stylesheet_link_tag 'application_mailer.css'

  %body.main
    .main-navigation
      .container
        %h1
          =link_to root_url do
            = image_tag attachments["rails_girls_london_logo.png"].url, alt: "Rails Girls London"
    = yield
